.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.container-current {
  position: relative;
  width: 80%;
  padding: 20px 20px;
  max-width: 1200px;
}

.slide {
  aspect-ratio: 16/9;
  border-radius: 10px;
  margin: 0;
}

.miniSlide {
  display: flex;
  column-gap: 10px;
}

.preview {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 300px;
  height: 800px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.wrap {
  width: 200px;
  height: 70px;
  padding: 10px 10px 10px 20px;
  background-color: #e9e9fe;
  display: inline-table;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #88889d;
  border-radius: 8px;
  border: 1px solid #f6f5f5;
}
