.toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 40px;
  background-color: #edf2fa;
  border-radius: 20px;
}

.link {
  padding: 5px 20px;
  margin-inline: 20px;
  font: normal 400 14px/20px serif;
  color: #768088;
  text-align: center;
}

.link:first-child {
  display: block;
  background-color: #fff;
  border-radius: 15px;
}
