.toolbar {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: auto;
  height: 60px;
  padding: 0 60px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: rgba(214, 252, 211, 0.39);
  border-radius: 20px;
}

.left, .right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about, .current, .file {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
}

.name {
  height: 30px;
  font-family: Tahoma;
  background: #fff;
  border: 2px solid #348d40;
  border-radius: 15px;
  outline: none;
}

.name:hover {
  border-color: #e2e2e2;
  transition: 250ms;
}

.name:focus {
  border-color: #9c15a4;
  transition: 250ms;
}


.logo {
  width: auto;
  height: 55px;
  vertical-align: middle;
}

.current {
  height: 30px;
  background-color: #fff;
  border: 2px solid #348d40;
  border-radius: 15px;
}

.link {
  padding: 5px 20px;
  font: normal 400 14px/20px serif;
  color: #768088;
  text-align: center;
}

.add {
  width: auto;
  height: 30px;
  margin-left: 20px;
  vertical-align: middle;
}

.add, .download, .open-icon, .delete {
  width: auto;
  height: 30px;
  vertical-align: middle;
}

.open {
  display: none;
  visibility: hidden;
}

.input {
  position: relative;
  display: inline-block;
}

.input {
  position: relative;
  box-sizing: border-box;
  height: 30px;
  padding: 5px 20px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  background-color: #4b984a;
  border: none;
  border-radius: 4px;
  outline: none;
}

.input-file input[type="file"] {
  display: none;
}

.input-file:hover span {
  background-color: #4b984a;
}

.file {
  background-color: #fff;
  border: 2px solid #348d40;
  border-radius: 15px;
}