@import url("https://fonts.googleapis.com/css2?family=Lora&family=Oxygen:wght@400;700&display=swap");

.toolbar {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 40px;
  padding: 0 5px;
  margin: 20px 0;
  background-color: #edf2fa;
  border-radius: 20px;
}

.link {
  width: 120px;
  padding: 5px 20px;
  font:
    normal 400 14px/20px Oxygen,
    serif;
  color: #768088;
  text-align: center;
}

.link:first-child {
  display: block;
  background-color: #fff;
  border-radius: 15px;
}

.input-file {
  position: relative;
  display: inline-block;
}

.button input[type="file"] {
  display: none;
}

.theme {
  padding: 5px 10px;
  margin: 0 20px;
  font:
    normal 400 14px/20px Oxygen,
    serif;
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 4px;
}

.collapse {
  margin-left: auto;
}

.header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
}

.menu {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.button {
  padding: 5px 10px;
  margin: 0 20px;
  font:
    normal 400 14px/20px Oxygen,
    serif;
  background: transparent;
  border: none;
  border-radius: 4px;
}

.last {
  padding: 5px 20px;
  margin-right: 5px;
  margin-left: auto;
  font:
    normal 400 14px/20px Oxygen,
    serif;
  background: #fff;
  border: 2px solid #dcddde;
  border-radius: 20px;
}

.button:hover {
  background: #dcddde;
}

.logo {
  width: 50px;
  height: 50px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
}

.name {
  padding: 0 30px;
  font:
    normal 700 22px/12px Oxygen,
    serif;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.divider {
  width: 2px;
  height: 60%;
  background: #acb2b7;
}

[data-theme="dark"] {
  & body {
    background-color: #2c2b2b;
  }

  .toolbar {
    background-color: #484848;
  }

  & label,
  .button,
  .info {
    color: white;
  }

  .last {
    color: #2c2b2b;
  }
}
