.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  margin: 0;
  text-align: center;
  background: #edf2fa;
  border-radius: 10px;
}

.logo {
  color: #000;
}

[data-theme='dark'] {
  .footer {
    background-color: #484848;
  }
}