.sidebar {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 600px;
  padding: 10px 20px;
  border-radius: 20px;
  opacity: 1;
  transition: 2s;
}

[data-theme='light'] {
  .sidebar {
    background-color: rgba(214, 252, 211, 0.39);
  }
}

[data-theme='dark'] {
  .sidebar {
    background-color: #484848;
  }

  .item {
    background-color: #404244;
  }

  .item:hover {
    border: 2px solid #8181a6;
  }

  .container {
    background-color: #3f3f3f;
    border: none;
  }
}

.item {
  box-sizing: border-box;
  padding: 10px 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ffffff;
  text-align: center;
  background: #4b984a;
  border: 2px solid transparent;
  border-radius: 5px;
}

.item:hover {
  border: 2px solid #6c9fbe;
}

.item:active {
  background: #52595f;
}

.hide {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  opacity: 0;
  transition: 2s;
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
  padding: 5px;
  background-color: #d4ffd2;
  border-radius: 5px;
  opacity: 1;
  transition: 0.5s;
}


.container-hidden {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  opacity: 0;
}

.item input[type="file"] {
  display: none;
}

.hex-input {
  box-sizing: border-box;
  padding: 10px 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #000;
  text-align: center;
  background: #fff;
  border: 2px solid transparent;
  border-radius: 5px;
}

.size {
  display: flex;
  flex-direction: row;
}

.size > .item{
  height: 15px;
  margin-left: 10px;
}

.size > .item > input{
 width: 30px;
}

.size {
  width: 270px;
}