.slide {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  box-shadow:
    inset 0 -3em 3em rgb(0 0 0 / 10%),
    0 0 0 2px rgb(255 255 255),
    0.3em 0.3em 1em rgb(0 0 0 / 30%);
}

.picture {
  width: 100%;
  object-fit: cover;
}

.current {
  border: 1px solid #768088;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}
